.login-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}


.card-login {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin:auto;
  margin-top: 20px;
  }

mat-card-title {
  text-align: center;
}

mat-card-actions {
  text-align: center;
}

.button-login {
  margin-bottom: 10px;
}